<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Profile Page</title>
</head>
<body>
    <div id="header_div">
        <a href="" id="header_anchor"><h1 style="padding-left:5px;">Unfold</h1></a>
    </div>
    <div class="grid-container">
        <div id="side_bar">
            <div id="profile_pic"></div>
            <div id="stats"></div>
            <div id="about"></div>
            <div id="socials"></div>
        </div>
        <div id="main_profile_section">
            <div id="featured_stories">
                <h3 id="section_title">Featured Stories</h3>
                <div class="grid-containerB">
                    <div class="flex-container">
                        <div class="featured">
                            <h5 class="featured_title">Shadow Ruins</h4>
                        </div>
                        <div class="featured">
                            <h5 class="featured_title">Redemption</h4>
                        </div>
                        <div class="featured">
                            <h5 class="featured_title">Shallow Depths</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="posts">
                <h3 id="section_title">User's Posts</h3>  
                <div class="post-grid-container">
                    
                    <div class="posts"></div>
                    <div class="posts"></div>
                    <div class="posts"></div>
                    <div class="posts"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>