.table {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: blue;
    /* Table width and height are set on the parent <figure>. Make sure the table inside stretches
    to the full dimensions of the container (https://github.com/ckeditor/ckeditor5/issues/6186). */
    height: 100%;
    width: 200px;
    max-width: 200px;

    td{
      border: none!important;
    }
  }
}
